body,
html {
  height: 90%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  background-color: #03020a !important;
}

.navbar {
  background-color: #03020a !important;
}

.nav-link {
  text-align: center !important;
  font-size: 25px;
}

p {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

address {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

/* HEADING */

h1 {
  text-align: center;
  color: white;
}

/* Contact CSS */
.contact {
  padding-top: 10px;
  padding-bottom: 50px;
}
.col-md-3 {
  background: #27785e;
  padding: 5%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 0%;
}
.contact-info img {
  margin-bottom: 5%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #27785e;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

/* Footer */
footer {
  background-color: #27785e;
  padding: 15px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  position: static;
}
span {
  font-size: 20px;
  color: white;
  text-align: center;
}

.fa {
  padding: 0;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
  color: aliceblue;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-snapchat {
  color: black;
}

a {
  text-decoration: none !important;
}
